@import 'bootstrap';
:global {
  @import 'base';
  @import '~normalize.css/normalize';
  @import 'search';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: $gray-lighter;
    color: $gray;
  }
.btn { background: $brand-primary; transition: all ease .3s;
  &:hover, &:focus, &:active {
    background: none;
    color: $brand-primary;
    transition: all ease .3s;
  }
}
.well { overflow: hidden; }
h1, h2, h3, h4, h5, h6 { color: $brand-primary; }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
